body {
  margin: 0;
}

.heart-checkbox {
  cursor: pointer;
}

.heart-checkbox input {
  display: none; /* Cacher l'élément de saisie par défaut */
}

.heart {
  position: absolute;
  width: 24px;
  height: 24px;
  background: url("Like1.png") no-repeat;
}

.heart:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: center;
  transition: transform 0.3s;
  background: url("Like2.png") no-repeat;
  transform: scaleX(0);
}

input:checked + .heart:after {
  transform: scaleX(1);
}

.heart-checkbox:hover .heart:after {
  transform: scaleX(1);
}