/****** loader *******/
@use 'loader.sass'

/****** General ***********/
@use 'general.sass'

/****** "Footer" ***********/
@use 'footer.sass'

/****** logo ***********/
.logo1
    font-size: 30px
    color: var(--title-color)
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15)
    height: 63px
    display: flex
    justify-content: center
    align-items: center
    background-color: var(--main-color)

header
    background-color: var(--location-bg-color)


.location
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    height: 50px
    display: flex
    justify-content: center
    align-items: center
    font-size: 16px
    font-weight: 500
    color: var(--location-text-color)
    gap: 17px

/****** Header "Reserver" ***********/
.p-header
    font-weight: 300
    font-size: 18px
    color: var(--location-text-color)
    text-align: center

.announcement h1
    margin-left: 35px
    margin-right: 35px
    margin-top: 0px
    text-align: center


.announcement
    display: flex
    flex-direction: column
    align-content: center
    padding: 34px 34px 25px 34px
    align-items: center

.btn
    height: 50px
    border-radius: 25px
    border: none
    font-size: 16px
    font-weight: 500
    color: #FFFFFF
    background: linear-gradient(193.33deg, var(--primary-color) -11.44%, var(--secondary-color) 123.93%)
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25)
    cursor: pointer
    opacity: 1
    transition: opacity 0.7s


.big-btn
    width: 218px
    margin: 30px

.btn:hover
    opacity: 0.75
    // background: linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), linear-gradient(200.64deg, var(--primary-color) -5.2%, var(--secondary-color) 110.74%)
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35)

/****** "fonctionnement" ***********/
.functioning
    background-color: var(--main-color)
    padding: 25px 20px 60px 20px

.zone-explanation
    display: flex
    flex-wrap: wrap    
    justify-content: start
    gap: 25px
    
.explanation
    p
            margin: 0px
            font-size: 16px
            font-weight: 500
            align-content: center
    .icon
            align-content: center
            img
                    height: 20px
                    align-content: center
    background: var(--main-bg-color)
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15)
    border-radius: 20px
    box-sizing: border-box
    width: 100%
    height: 72px
    margin-left: 12px
    display: flex
    padding-left: 35px
    gap: 20px

.card-explanation
    display: flex
    width: 335px
    height: 72px
    position: relative

.number
    p
            font-size: 14px
            color: #FFFFFF
            font-weight: 500
            margin: 0px
            padding: 0px
            align-content: center
    background-color: var(--primary-color)
    width: 24px
    height: 24px
    border-radius: 12px
    position: absolute
    left: 0px
    top: 25px
    display: flex
    justify-content: center

/****** "Restaurants" ***********/
.zone-restaurants
    display: flex
    flex-wrap: wrap    
    // justify-content: start
    gap: 18px
    margin-left: auto
    margin-right: auto

    
.restaurants
    padding: 25px 17px 60px 17px

.card-restaurant
    display: flex
    flex-direction: column
    width: 340px
    height: 247px
    box-sizing: border-box
    position: relative

.photo-restaurant
    img
        width: 100%
        height: 175px
        object-fit: cover
        border-radius: 15px 15px 0px 0px
    display: flex
    position: relative

.content
    display: flex
    height: 100%
    justify-content: space-between
    background-color: var(--main-color)
    border-radius: 0px 0px 15px 15px

.heart-position
    width: 24px
    position: absolute
    right: 15px
    top: 195px

.heart-original
    width: 24px
    position: absolute
    right: 15px
    top: 195px

.new
    position: absolute
    top: 15px
    right: 15px
    width: 80px
    height: 29px
    background-color: var(--tertiary-color)
    color: var(--tertiary-text-color)
    display: flex
    align-items: center
    justify-content: center
    font-size: 14px
    font-weight: 500
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15)
    border-radius: 2px

.off
    display: none


@media (min-width: 1055px)

    .big-btn
        margin-bottom: 0px

    .logo1,
    .location
        box-shadow: 0px 0px 0px 0px

    .restaurants-large,
    .functioning-large
        width: 1080px
        display: flex
        flex-direction: column
        justify-content: center
        margin-left: auto
        margin-right: auto

    .zone-restaurants
        display: flex
        justify-content: center
        align-items: center
        gap: 50px 100px

    .card-restaurant
        width: 490px

    .restaurants
        padding: 25px 17px 30px 17px